<!doctype html>
<html>
<head>
	<title>Twitter Handles</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2>
			Twitter Handles
		</h2>
		<p>
			Finds twitter usernames from first and last names.
		</p>
		<p>
			<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span>Twitter Login</a>
		</p>
	</div>
	<dl>
		<dt>
			How it works?
		</dt>
		<dd>
			You are required to Login with your Twitter account, after login
			you will land on profile page where you can provide link to public google sheet.
		</dd>
	</dl>
	<a href="https://github.com/zishon89us/node-cheat" class="btn" type="button">Github Repo</a>
</div>
</body>
</html>

