<!doctype html>
<html>
<head>
    <title>Twitter Handles</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
    <script type="text/javascript">
        function getData() {

            if (!document.getElementById('sheet').value){
                $('#emptySheetId').show();
                return;
            }

            var link = document.getElementById("sheetLink");

            window.open(
                    link.href,
                    '_parent'
            );
            link.setAttribute('href', "/twitter/usernames/" + document.getElementById('sheet').value);

            return false;
        }
        $( document ).ready(function(){
            $('#emptySheetId').hide();

        });
    </script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" id="emptySheetId">
        <strong>Please!</strong> Enter spreadsheet id.
    </div>
    <div class="page-header text-center">
        <h1>Public Google-Docs Spreadsheet Id</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="sheet" type="text" class="form-control" placeholder="spreadsheet id">
          <span class="input-group-btn">
            <a href="#" id="sheetLink" class="btn btn-default" onclick="getData();" type="button">Get Twitter
                Handles</a>
          </span>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.token) { %>
                <p>

                    <strong>Hello </strong>: <%= user.name %>!<br><br><br>
                    <strong>Please provide publicly published google docs spreadsheet Id </strong>i.e.
                    1n7DxgJTTHZ9w3xwiHokUhXMLkBwpP5c9ZLFmsYFDCic<br><br>
                </p>

                <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>

                <% } %>

            </div>
        </div>

    </div>

</div>
</body>
</html>